
node_modules/
package-lock.json
package.json


.DS_Store
Thumbs.db
desktop.ini
*.log
.env
.local
.vscode/
.idea/
*.swo
*.swp


dist/
build/
*.css.map
*.js.map


*.sublime-*
*.komodotools*
*.orig


*.bak
*.tmp
*.temp
*~
~$*


$RECYCLE.BIN/
System Volume Information/


README.md.bak
*.old